h1, h2, h3, h4 { margin: 0 }
::selection { background: hsla(53, 84%, 65%, 0.8); color: black; }
::-moz-selection { background: hsla(53, 84%, 65%, 0.8); color: black; }


high-light { display: inline }

div.prose high-light:after {
	content: '*';
	color: hsl(53, 84%, 0%);
}

div.prose high-light.on:after { visibility: hidden }


div.prose high-light.on {
	padding: 1px 2px;
	border-radius: 4px;
	margin: -1px -2px;
	color: black;
	background: hsla(53, 84%, 65%, 1);
}

code high-light.on {
	padding: 1px 0;
	margin: -1px -0;
	background: hsla(53, 84%, 65%, 0.1);
}


html, body {
	background: hsl(0, 0%, 95%);
	font: 0 sans-serif;
}

html.font-lato { font-family: Lato, sans-serif }



/*
	Core Page Layout
*/

body {
	display: flex;
	flex-flow: row;
	overflow: hidden;
}

div.page {
	flex: auto;
	overflow-y: scroll;
}

nav.guide {
	flex: none;
	width: 12em;
}




/*
	Banner Header
*/

header.banner {
	padding: 6px 20px;
	margin-left: auto;
	border-bottom: 1px solid hsl(0, 0%, 5%);
	background: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 95%);
	font-size: 16px;
}




/*
	Navigation Guide
*/

nav.guide {
	background: hsl(0, 0%, 98%);
	font-size: 18px;
	line-height: 2;
}

nav.guide details {}
nav.guide details > summary {
	position: relative;
	padding-left: 1.6em;
	cursor: pointer;
	-webkit-user-select: none;
}

nav.guide details > summary:before {
	position: absolute;
	left: 5px;
	top: 50%;
	width: 1em;
	height: .6em;
	background: url(/assets/icon-expand.svg) center no-repeat;
	content: '';
	transition: transform 200ms ease-in-out;
	transform: translateY(-35%) rotate(-90deg);
	transform-origin: 50% 35%;
}

nav.guide details[open] > summary:before {
	transform: translateY(-35%) rotate(0deg);
}


nav.guide details > a {
	display: block;
	padding-left: 2em;
	-webkit-user-select: none;
}

nav.guide details > a.current {
	background: hsla(30, 100%, 50%, 0.2);
}

nav.guide details > summary:focus,
nav.guide details > a:focus {
	outline: none;
	background: hsl(30, 100%, 50%);
}




/*
	Main Content
*/

main.content {
	min-height: 100%;
	padding-bottom: 30vh;/* Some breathing room to allow user to center content in their view better */
}





/*
	Landmark Header
*/

header.landmark {
	height: 56px;
	/* border-bottom: 1px solid hsl(0, 0%, 70%); */
	background: hsl(0, 0%, 98%);
}

header.landmark h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	line-height: 36px;
}

header.landmark h1 a {
	display: block;
	padding: 10px 20px;
}

header.landmark:hover a { text-decoration: underline }
header.landmark a.current { text-decoration: none }
header.landmark a:focus { background: hsl(30, 100%, 50%); outline: none }





/*
	Search Form
*/

form.search {
	display: block;
	border-radius: 4px;
	background: white;
	margin: 10px 5px;
	vertical-align: middle;
	font-size: 0;
	white-space: nowrap;
}

input.search {
	display: inline-block;
	width: calc(100% - 82px);
	padding: 0 41px;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px hsla(30, 0%, 50%, 0.3);
	margin: 0 -36px;
	outline: none;
	background: none;
	font: 18px/36px sans-serif;
}

.font-lato input.search { font-family: Lato, sans-serif }


form.search {
	opacity: 0.3;
	pointer-events: none;
	cursor: initial;
}



input.search:focus {
	box-shadow: inset 0 0 0 2px hsla(30, 100%, 50%, 0.8);
}

span.icon-search {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(assets/icon-search.svg) center no-repeat;
	background-size: auto 20px;
	vertical-align: middle;
}

button.clear {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(assets/icon-close.svg) center no-repeat;
	background-size: auto 20px;
	vertical-align: middle;
}

button.clear:focus {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin: 8px;
	background-color: hsl(30, 100%, 50%);
}





/*
	Code Blocks & Highlighting
*/

code.block {
	position: relative;
	display: block;
	overflow-x: scroll;
	padding: 20px;
	margin: 10px 0px 25px;
	background: hsl(215, 10%, 15%);
	color: hsl(215, 10%, 95%);
	font: 16px/1.2 monospace;
	text-shadow: 0 1px 0 black;
	-moz-tab-size: 4;
	tab-size: 4;
	vertical-align: top;
}
.font-inconsolata code.block { font-family: Inconsolata, monospace }

code.block h2 { display: inline }
.comment { color: hsl(120, 10%, 40%) }
.keyword {color: hsl(0, 70%, 50%) }

.syntax, .operator { color: hsl(0, 0%, 80%) }
.entity { color: hsl(260, 30%, 60%) }
.string { color: hsl(0, 40%, 60%) }
.numeric { color: hsl(215, 50%, 60%) }
/* .native { color: hsl(215, 50%, 95%) } */
/* .type { color: hsl(15, 25%, 34%) } */
/* .argument { color: hsl(120, 20%, 50%) } */
/* .dunno { color: hsl(190, 81%, 67%) } */
/* .anotherfancycolor { color: hsl(80, 76%, 53%) } */

.tab {
	position: relative;
	display: inline;
}

.tab:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	right: 1px;
	display: block;
	height: 0;
	border-radius: 4px;
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.05);
}

.space {
	position: relative;
	font-size: 0;
}

.space:before {
	content: '·';
	color: hsla(0, 0%, 100%, 0.08);
	font-size: 16px;
}






/*
	Expandable Code
*/

details.code {
	padding: 0 0 6px;
}
details.code summary {
	padding: 6px 0 0;
	border-bottom: 2px solid transparent;
	margin: 0 20px;
	outline: 0;
	color: hsl(215, 10%, 20%);
	cursor: s-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

details.code summary:focus {
	border-bottom: 2px solid hsla(30, 100%, 50%, 0.8);
}

details.code[open] summary {
	cursor: n-resize;
}



/*
	Code/Prose columns
*/

div.mirror {
	position: relative;
	display: -webkit-flex;
	display: flex;
}

div.prose,
div.code {
	-webkit-flex: 1 50%;
	flex: 1 50%;
	overflow: hidden;
	font-size: 20px;
}

div.prose + div.code,
div.prose:nth-last-child(2) {
	width: 50%;
}

div.prose + div.code code.block {
	border-radius: 6px 0 0 6px;
}

div.code pre {
	margin: 0;
}




div.prose { color: hsl(215, 10%, 20%); }
div.code { color: hsl(215, 10%, 85%); }



@media only screen and (max-width: 1000px) {
	div.mirror {
		-webkit-flex-flow: column;
		flex-flow: column;
	}
	
	div.prose + div.code,
	div.prose:nth-last-child(2) {
		width: 100%;
	}
	
	div.prose + div.code code.block {
		border-radius: 0;
	}
}







/*
	Prose
*/

div.prose {
	padding: 0;
}

h1.herald {
	padding: 50px 20px 20px;
	font-size: 24px;
}

h2.signal {
	display: block;
	padding: 30px 20px 10px;
	font-size: 22px;
}

h1.herald, h2.signal {
	color: hsl(0, 0%, 10%);
}

main.content {
	font-size: 20px;
}

main.content p {
	margin: 10px 20px;
}




ol.arguments {
	padding: 0;
}

ol.arguments li {
	position: relative;
	padding: 0px 20px 0px 35px;
}

ol.arguments li + li {
	margin-top: 1.5em;
}

ol.arguments li h3 {
	display: inline;
	font-family: monospace;
	color: hsl(120, 20%, 50%);
}

.font-inconsolata ol.arguments li h3 { font-family: Inconsolata, monospace }


ol.arguments li h3:before {
	position: absolute;
	top: 0;
	left: 20px;
	font-family: sans-serif;
	content: '•';
}

.font-lato ol.arguments li h3:before { font-family: Lato, sans-serif }



div.prose ul .syntax {
	font-size: 15px
}

div.prose ul .type {
	margin-left: .8em;
	font-size: 13px;
}













/*
	Code
*/

@font-face { font-family: Inconsolata; src: url('/assets/Inconsolata-Regular.ttf'); }
@font-face { font-family: Inconsolata; font-weight: bold; src: url('/assets/Inconsolata-Bold.ttf'); }

code {white-space: pre;}






