h1, h2, h3, h4 { margin: 0 }
::selection { background: hsla(30, 100%, 50%, 0.8); color: white; }
::-moz-selection { background: hsla(30, 100%, 50%, 0.8); color: white; }


high-light { display: inline }

div.prose high-light:after {
	content: '*';
	color: hsl(30, 100%, 50%);
}

div.prose high-light.on:after { visibility: hidden }


div.prose high-light.on {
	padding: 1px 2px;
	border-radius: 4px;
	margin: -1px -2px;
	color: black;
	background: hsla(30, 100%, 50%, 0.2);
}

div.code high-light.on {
	padding: 1px 0;
	margin: -1px -0;
	background: hsla(30, 100%, 50%, 0.2);
}


html, body {
	background: hsl(0, 0%, 90%);
	font-size: 0;
}



/*
	Banner Header
*/

header.banner {
	background: hsl(0, 0%, 20%);
	border-bottom: 1px solid hsl(0, 0%, 5%);
	padding: 6px 20px;
	color: hsl(0, 0%, 95%);
	font-size: 16px;
}



/*
	Search Header
*/

header.search {
	background: hsl(0, 0%, 98%);
	border-bottom: 1px solid hsl(0, 0%, 70%);
}

header.search h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 22px;
}

form.search {
	display: inline-block;
	border-radius: 4px;
	background: white;
	margin: 2px;
	vertical-align: middle;
	font-size: 0;
}

input.search {
	display: inline-block;
	width: 200px;
	padding: 0 41px;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px hsla(30, 0%, 50%, 0.3);
	margin: 0 -36px;
	outline: none;
	background: none;
	font: 18px/36px Lato, sans-serif;
}

input.search:focus {
	box-shadow: inset 0 0 0 2px hsla(30, 100%, 50%, 0.8);
}

span.icon-search {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(assets/icon-search.svg) center no-repeat;
	background-size: auto 20px;
	vertical-align: middle;
}

button.clear {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(assets/icon-close.svg) center no-repeat;
	background-size: auto 20px;
	vertical-align: middle;
}






/*
	Code Blocks & Highlighting
*/

code.block {
	position: relative;
	display: block;
	overflow-x: scroll;
	padding: 20px;
	margin: 25px 0px;
	background: hsl(215, 10%, 15%);
	color: hsl(215, 10%, 95%);
	font: 16px/1.2 Inconsolata;
	-moz-tab-size: 4;
	tab-size: 4;
	vertical-align: top;
}

/* code.block + code.block {
	margin-top: 25px;
}
code.block + code.block:before {
	position: absolute;
	top: -20px;
	left: 5px;
	right: 5px;
	content: '';
	display: block;
	height: 15px;
	padding-left: 20px;
	border-radius: 20px;
	background: hsl(215, 10%, 18%);
	color: hsl(215, 10%, 50%);
	font: 16px/10px Inconsolata;
} */

code.block h2 { display: inline }

.comment { color: hsl(120, 10%, 40%) }
.keyword { color: hsl(0, 70%, 50%) }
.syntax, .operator { color: hsl(0, 0%, 70%) }
.entity { color: hsl(260, 30%, 60%) }
.string { color: hsl(0, 40%, 60%) }
.numeric { color: hsl(215, 50%, 60%) }

.type { color: hsl(15, 25%, 34%) }
.argument { color: hsl(120, 20%, 50%) }

.tab {
	position: relative;
	display: inline;
}

.tab:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	right: 1px;
	display: block;
	height: 0;
	border-radius: 4px;
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.05);
}

.space {
	position: relative;
	font-size: 0;
}

.space:before {
	content: '·';
	color: hsla(0, 0%, 100%, 0.08);
	font-size: 16px;
}

.newline:before {
/* 	margin-left: .1em;
	content: '\21B5';
	color: hsla(0, 100%, 80%, 0.09); */
}






/*
	Expandable Code
*/

details.code {
	padding: 0 0 6px;
}
details.code summary {
	padding: 6px 0 0;
	border-bottom: 2px solid transparent;
	margin: 0 20px;
	outline: 0;
	color: hsl(215, 10%, 20%);
	cursor: s-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

details.code summary:focus {
	border-bottom: 2px solid hsla(30, 100%, 50%, 0.8);
}

details.code[open] summary {
	cursor: n-resize;
}



/*
	Code/Prose columns
*/

div.mirror {
	display: -webkit-flex;
	display: flex;
	
	position: relative;
/* 	background: hsl(0, 0%, 80%) url(assets/pattern-grid.png); */
}

/* @media only screen and (max-width: 800px) { div.mirror { margin: 0 } }
@media only screen and (min-width: 1100px) { div.mirror { margin: 0 40px } } */


div.prose,
div.code {
/* 	-webkit-flex: 1 50%; */
/* 	flex: 1 50%; */
	
	display: inline-block;
	overflow: hidden;
	width: 100%;
	vertical-align: top;
	font-size: 20px;
}

div.prose + div.code,
div.prose:nth-last-child(2) {
	width: 50%;
}

div.prose + div.code code.block {
	border-radius: 6px 0 0 6px;
}




div.prose { color: hsl(215, 10%, 20%); }
div.code { color: hsl(215, 10%, 85%); }



@media only screen and (max-width: 800px) {
	div.prose,
	div.code {
		display: block;
		width: 100%;
	}
}







/*
	Prose
*/

div.prose {
	padding: 0;
}

h2.herald {
	padding: 50px 20px 20px;
	font-size: 24px;
}

h3.signal {
	display: block;
	padding: 30px 20px 10px;
	font-size: 22px;
}

h2.herald, h3.signal {
/* 	background: hsl(215, 50%, 60%);
	color: white; */
	
	color: hsl(0, 0%, 10%);
}

p.description {
	margin: 30px 20px 30px;
}




ol.arguments {
	padding: 0;
}

ol.arguments li {
	position: relative;
	padding: 0px 20px 0px 35px;
}

ol.arguments li + li {
	margin-top: 1.5em;
}

ol.arguments li h4 {
	display: inline;
}

ol.arguments li h4:before {
	position: absolute;
	top: 0;
	left: 20px;
	content: '•';
}



ol.arguments .syntax {
	font-size: 15px
}

ol.arguments .type {
	margin-left: .8em;
	font-size: 13px;
}













/*
	Code
*/

@font-face { font-family: Inconsolata; src: url('/assets/Inconsolata-Regular.ttf'); }
@font-face { font-family: Inconsolata; font-weight: bold; src: url('/assets/Inconsolata-Bold.ttf'); }

code { white-space: pre}






