/*
	Unstyle everything back to basics
*/

section, article, header, main, footer, aside, details, summary, nav, menu, figure, figcaption { display: block; }
canvas, video, audio, progress { vertical-align: baseline; display: inline-block; }
template, audio:not([controls]), [hidden], datalist { display: none; height: 0; }
summary::-webkit-details-marker { display: none }
button { width: auto; overflow: visible; }
button, input, select, textarea { border-radius: 0; margin: 0; font-size: 100%; line-height: normal; vertical-align: middle; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"], select { color: inherit; border: none; padding: 0; outline: 0; -webkit-appearance: none; }
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="checkbox"], label, select { cursor: pointer; }
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
fieldset { display: block; border: none; padding: 0; margin: 0; }
legend { border: 0; padding: 0; }
textarea { vertical-align: top; }
textarea, pre { overflow: auto; }
ul, li, dl, dt, dd, menu, dir { padding: 0; margin: 0; list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
a, a:hover, a:active { color: inherit; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: inherit; font-size: inherit; margin: 0; }
em, strong, small, code, kbd, pre, samp { font-size: inherit; font-style: inherit; font-weight: inherit; }
p { display: block; margin: 0; }
b { font-weight: bolder; }
i { font-style: italic; }
img { border: 0; }
sup, sub { line-height: 0; vertical-align: middle; font-size: 58.3%; position: relative; }
sup { top: -0.33333em; }
sub { top: 0.33333em; }


/* Initial styling */
* { box-sizing: border-box }
html, body {
	height: 100%;
	width: 100%;
	background: hsl(0, 0%, 95%);
	color: black;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font: 0 sans-serif;
}

html.font-lato { font-family: Lato, sans-serif }

body {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	margin: 0 auto;
}

::selection { background: hsla(53, 84%, 65%, 0.8); color: black; }
::-moz-selection { background: hsla(53, 84%, 65%, 0.8); color: black; }




/*
	Fonts
*/

@font-face { font-family: Inconsolata; src: url(/assets/fonts/Inconsolata-Regular.ttf); }
@font-face { font-family: Inconsolata; font-weight: bold; src: url(/assets/fonts/Inconsolata-Bold.ttf); }

@font-face { font-family: Lato; font-weight: 100; font-style: normal; src: url(/assets/fonts/LatoLatinHair-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 100; font-style: italic; src: url(/assets/fonts/LatoLatinHair-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 200; font-style: normal; src: url(/assets/fonts/LatoLatinThin-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 200; font-style: italic; src: url(/assets/fonts/LatoLatinThin-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 300; font-style: normal; src: url(/assets/fonts/LatoLatinLight-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 300; font-style: italic; src: url(/assets/fonts/LatoLatinLight-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 400; font-style: normal; src: url(/assets/fonts/LatoLatin-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 400; font-style: italic; src: url(/assets/fonts/LatoLatin-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 500; font-style: normal; src: url(/assets/fonts/LatoLatinMed-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 500; font-style: italic; src: url(/assets/fonts/LatoLatinMed-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 600; font-style: normal; src: url(/assets/fonts/LatoLatinSemBd-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 600; font-style: italic; src: url(/assets/fonts/LatoLatinSemBd-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 700; font-style: normal; src: url(/assets/fonts/LatoLatin-Bold.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 700; font-style: italic; src: url(/assets/fonts/LatoLatin-BoldItalic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 800; font-style: normal; src: url(/assets/fonts/LatoLatinExtBd-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 800; font-style: italic; src: url(/assets/fonts/LatoLatinExtBd-Italic.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 900; font-style: normal; src: url(/assets/fonts/LatoLatinBlack-Regular.woff) format('woff'); }
@font-face { font-family: Lato; font-weight: 900; font-style: italic; src: url(/assets/fonts/LatoLatinBlack-Italic.woff) format('woff'); }

@font-face { font-family: Material; src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'), url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype'); }



/*
	Site styling
*/

high-light { display: inline }

div.prose high-light:after {
	vertical-align: text-top;
	font: 14px/1 Material;
	content: '*';
}

.font-material div.prose high-light:after { content: 'label_outline' }

/* div.prose high-light.on:after { visibility: hidden } */


div.prose high-light.on {
	padding: 1px 2px;
	border-radius: 4px;
	margin: -1px -2px;
	color: black;
	background: hsla(53, 84%, 65%, 1);
}

code high-light.on {
	padding: 1px 0;
	margin: -1px -0;
	background: hsla(53, 84%, 65%, 0.1);
}



a.inline {
	display: inline;
	line-height: 1;
	border-bottom: 2px solid;
}

abbr, [title] { text-decoration: none; cursor: help }



/*
	Core Page Layout
*/

body {
	display: flex;
	display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	overflow: hidden;
	overflow-y: scroll;
}

div.page {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	flex: 1 1 100%;
	-webkit-flex: 1 1 100%;
	/* overflow-y: scroll; */
}

main.content {
	flex: 1 1 0%;
	-webkit-flex: 1 1 0%;
}

nav.guide {
	flex: none;
	-webkit-flex: none;
	order: -1;
	-webkit-order: -1;
	width: 14em;
}


@media only screen and (max-width: 700px) {
	body {
		flex-flow: column;
		-webkit-flex-flow: column;
		overflow-y: scroll;
	}
	
	div.page {
		overflow-y: visible;
	}
	
	nav.guide {
		width: auto;
		box-shadow: 0 2px 2px #ccc;
	}
}







/*
	Banner Header
*/

header.banner {
	padding: 30px 20px;
	margin-left: auto;
	border-bottom: 1px solid hsl(0, 0%, 5%);
	background: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 95%);
	font-size: 16px;
}




/*
	Navigation Guide
*/

nav.guide {
	background: hsl(0, 0%, 98%);
	font-size: 18px;
	line-height: 2;
}

nav.guide .disabled {
	color: hsl(0, 0%, 80%);
	cursor: default;
}

nav.guide label,
nav.guide a {
	position: relative;
	display: block;
	background: hsl(0, 0%, 98%);
}

nav.guide div.folder {
	overflow: hidden;
	height: 2em;
	outline: none;
}

nav.guide div.folder > label.folder {
	z-index: 1;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
}

nav.guide div.folder > label.folder:before,
nav.guide a.docs:before {
	display: inline-block;
	margin-left: -1.1em;
	margin-right: .1em;
	vertical-align: text-bottom;
	font: 18px/1.1 Material;
}

nav.guide div.folder > label.folder:before { content: '>' }
nav.guide div.folder.is-open > label.folder:before { content: 'v' }
nav.guide a.docs:before { content: ' ' }
.font-material nav.guide div.folder > label.folder:before { content: 'folder' }
.font-material nav.guide div.folder.is-open > label.folder:before { content: 'folder_open' }
.font-material nav.guide a.docs:before { content: 'code' }

nav.guide label,
nav.guide a { padding-left: 1.5em }

nav.guide div.folder div.folder > label.folder,
nav.guide div.folder > label.folder ~ a { padding-left: 2.5em }

nav.guide div.folder div.folder div.folder > label.folder,
nav.guide div.folder div.folder > label.folder ~ a { padding-left: 3.5em }

nav.guide label.folder:hover,
nav.guide a.docs:hover {
	background: hsl(30, 0%, 90%);
}

nav.guide .is-selected {
	background: hsl(30, 0%, 88%);
	outline: none;
}

nav.guide a.docs.current {
	background: hsl(30, 0%, 60%);
	color: white;
}

nav.guide div.folder:focus > label.folder,
nav.guide a.docs:focus {
	background: hsl(30, 100%, 50%);
	outline: none;
}





/* nav.guide .folder > summary:after {
	position: absolute;
	top: 50%;
	right: .25em;
	transform: translate(-100%, -50%) rotate(-90deg) perspective(20px) rotateX(0deg);
	vertical-align: baseline;
	display: inline-block;
	width: 20px;
	height: 12px;
	margin-left: .3em;
	background: url(/assets/icon-expand.svg) center no-repeat;
	content: '';
	transition: transform 200ms ease-in-out;
}

nav.guide .folder[open] > summary:after {
	transform: translate(0%, -50%) rotate(-90deg) perspective(20px) rotateX(180deg);
}

nav.guide .folder > .folder,
nav.guide .folder > a { margin-left: .6em }
nav.guide label,
nav.guide a { padding-left: .6em }

nav.guide .folder > .folder,
nav.guide .folder > a { box-shadow: -1em 0 0 hsl(0, 0%, 80%) } */


/*
nav.guide details > summary:hover,
nav.guide details > a:hover {
	position: relative;
}

nav.guide details > summary:hover:before,
nav.guide details > a:hover:before {
	position: absolute;
	top: .1em;
	left: .1em;
	right: .1em;
	bottom: .1em;
	content: '';
	border-radius: .25em;
	background: hsla(30, 100%, 50%, 0.2);
	border-left-color: hsla(30, 100%, 50%, 0.2);
}

nav.guide details > summary:focus,
nav.guide details > a:focus {
	outline: none;
	background: hsl(30, 100%, 50%);
	border-left-color: hsl(30, 100%, 50%);
	box-shadow: -40px 0 0 0px hsl(30, 100%, 50%);
}
*/




/*
	Main Content
*/

main.content {
	min-height: 100%;
	padding-bottom: 30vh;/* Some breathing room to allow user to center content in their view better */
}





/*
	Landmark Header
*/

header.landmark {
	background: hsl(0, 0%, 98%);
}

header.landmark h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	line-height: 36px;
}

header.landmark h1 a {
	display: block;
	padding: 10px 20px;
}

header.landmark:hover a { text-decoration: underline }
header.landmark a.current { text-decoration: none }
header.landmark a:focus { background: hsl(30, 100%, 50%); outline: none }


@media only screen and (max-width: 700px) {
	header.landmark {
		box-shadow: 0 2px 2px #ccc;
	}
	
	header.landmark h1 {
		display: block;
	}
}



/*
	Search Form
*/

form.search {
	display: block;
	border-radius: 4px;
	background: white;
	margin: 10px 5px;
	vertical-align: middle;
	font-size: 0;
	white-space: nowrap;
}

input.search {
	display: inline-block;
	width: calc(100% - 82px);
	padding: 0 41px;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px hsla(30, 0%, 50%, 0.3);
	margin: 0 -36px;
	outline: none;
	background: none;
	font: 18px/36px sans-serif;
}

.font-lato input.search { font-family: Lato, sans-serif }


form.search {
	opacity: 0.3;
	pointer-events: none;
	cursor: initial;
}



input.search:focus {
	box-shadow: inset 0 0 0 2px hsla(30, 100%, 50%, 0.8);
}

span.icon-search {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(/assets/ic_search_black_24px.svg) center no-repeat;
	background-size: auto 24px;
	vertical-align: middle;
}

button.clear {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(/assets/ic_clear_black_24px.svg) center no-repeat;
	background-size: auto 24px;
	vertical-align: middle;
}

button.clear:focus {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 3px;
	background-color: hsl(30, 100%, 50%);
}





/*
	Code Blocks & Highlighting
*/

code.block {
	position: relative;
	display: block;
	overflow-x: scroll;
	padding: 20px;
	margin: 10px 0px 25px;
	background: hsl(215, 10%, 15%);
	color: hsl(215, 10%, 95%);
	font: 16px/1.2 monospace;
	text-shadow: 0 1px 0 black;
	-moz-tab-size: 4;
	tab-size: 4;
	vertical-align: top;
	white-space: pre;
}
.font-inconsolata code.block { font-family: Inconsolata, monospace }

code.block h2 { display: inline }
.comment { color: hsl(120, 10%, 40%) }
.keyword {color: hsl(0, 70%, 50%) }

.syntax, .operator { color: hsl(0, 0%, 80%) }
.entity { color: hsl(260, 30%, 60%) }
.string { color: hsl(0, 40%, 60%) }
.numeric { color: hsl(215, 50%, 60%) }
/* .native { color: hsl(215, 50%, 95%) } */
/* .type { color: hsl(15, 25%, 34%) } */
/* .argument { color: hsl(120, 20%, 50%) } */
/* .dunno { color: hsl(190, 81%, 67%) } */
/* .anotherfancycolor { color: hsl(80, 76%, 53%) } */

.tab {
	position: relative;
	display: inline;
}

.tab:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	right: 1px;
	display: block;
	height: 0;
	border-radius: 4px;
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.05);
}

.space {
	position: relative;
	font-size: 0;
}

.space:before {
	content: '·';
	color: hsla(0, 0%, 100%, 0.08);
	font-size: 16px;
}




/*
	Expandable Code
*/

details.code {
	padding: 0 0 6px;
}
details.code summary {
	padding: 6px 0 0;
	border-bottom: 2px solid transparent;
	margin: 0 20px;
	outline: 0;
	color: hsl(215, 10%, 20%);
	cursor: s-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

details.code summary:focus {
	border-bottom: 2px solid hsla(30, 100%, 50%, 0.8);
}

details.code[open] summary {
	cursor: n-resize;
}



/*
	Code/Prose columns
*/

div.mirror {
	position: relative;
	display: flex;
	display: -webkit-flex;
}

div.prose,
div.code {
	-webkit-flex: 1 50%;
	flex: 1 50%;
	overflow: hidden;
	font-size: 20px;
}

div.prose + div.code,
div.prose:nth-last-child(2) {
	width: 50%;
}

div.prose + div.code code.block {
	border-radius: 6px 0 0 6px;
}

div.code pre {
	margin: 0;
}




div.prose { color: hsl(215, 10%, 20%); }
div.code { color: hsl(215, 10%, 85%); }



@media only screen and (max-width: 1000px) {
	div.mirror {
		-webkit-flex-flow: column;
		flex-flow: column;
	}
	
	div.prose + div.code,
	div.prose:nth-last-child(2) {
		width: 100%;
	}
	
	div.prose + div.code code.block {
		border-radius: 0;
	}
}







/*
	Prose
*/

div.prose {
	padding: 0;
}

h1.herald {
	padding: 50px 20px 20px;
	font-size: 24px;
}

h2.signal {
	display: block;
	padding: 30px 20px 10px;
	font-size: 22px;
}

h1.herald, h2.signal {
	color: hsl(0, 0%, 10%);
}

main.content {
	font-size: 20px;
}

main.content p {
	margin: 10px 20px;
}




ol.arguments {
	padding: 0;
}

ol.arguments li {
	position: relative;
	padding: 0px 20px 0px 35px;
}

ol.arguments li + li {
	margin-top: 1.5em;
}

ol.arguments li h3 {
	display: inline;
	font-family: monospace;
	color: hsl(120, 20%, 50%);
}

.font-inconsolata ol.arguments li h3 { font-family: Inconsolata, monospace }


ol.arguments li h3:before {
	position: absolute;
	top: 0;
	left: 20px;
	font-family: sans-serif;
	content: '•';
}

.font-lato ol.arguments li h3:before { font-family: Lato, sans-serif }



div.prose ul .syntax {
	font-size: 15px
}

div.prose ul .type {
	margin-left: .8em;
	font-size: 13px;
}





/*
	NProgress.css
*/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

